*{
    margin: 0;
    padding: 0;
}
.girlFind{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d223be;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.boy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d2d8d;
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}